body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container { 
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    
   
 
    margin-top: 0.5px;
    flex: 1 0 auto;
    gap: 0.5px;

}

.button {
   position: relative;
   
   padding: 8px;
   display: flex;
   justify-content: center;
   background-color: rgb(233, 146, 168);
   border-radius: 8px;
   border: none;

}

.col {
    display: flex;
    flex: 1 0 auto;
    margin: 0.5px;
    
    justify-items: flex-start;
    background: #6ed2da;
}

/*.col:hover {
    background-color: #214042;
}*/

.new-color {
    background-color: #214042;
}