.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: auto;

}